#root {
  min-width: 348px;
}

body {
  overflow-x: hidden; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #90A4AE !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media print{
  @page{
    margin:-1em;
    padding:0;
    width:16.5cm;
  }
  svg {
       margin:0;
       width:100%;
    }
}
